@import url("https://use.typekit.net/fsf6pcn.css");

:root {
  font-size: 100%;

  --primary-color: #2a71a3;
  --secondary-color: #2A98A3;
  --tertirary-color: #a32a78;
  --black-color: #000;
  --text-color: #676767;
}

::selection {
  background: var(--secondary-color);
  color: #fff;
}

body {
  font-family: 'fira-sans', sans-serif;
  margin-top: 70px;
  line-height: 1.65;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

a {
  color: var(--primary-color);
}