.simplepay {
  padding: 6rem 0 6rem;
  background-color: #fafaff;
  position: relative;
}

.anchor-helper {
  position: absolute;
  top: -69px;
}

.inner {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 45% 50%;
  align-items: center;
  justify-items: self-end;
}

.subtitle {
  font-size: 1.1rem;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.title {
  line-height: 1.1;
  font-size: 2.6rem;
  margin: 0 0 1rem;
}

.description {
  color: var(--text-color);
  margin: 0 0 1rem;
}

.image {
  max-width: 100%;
}