@mixin btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8em;
  border-radius: 3px;
  line-height: 1.25;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  height: 2rem;
  transition: background-color 0.15s ease;

  @media (min-width: 50rem) {
    padding: 0 1.4em;
    height: 2.6rem;
  }
}

.primary {
  @include btn();
  background: linear-gradient(45deg, var(--primary-color), var(--primary-hover-color));
  color: #fff;
  font-size: 0.8rem;

  &:hover,
  &:focus {
    background-color: var(--primary-hover-color);
    color: #fff;
  }
}