.header {
  background-color: #fff;
  z-index: 20;
}

.inner {
  height: 100px;
  max-width: 74rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 40rem) {
    padding: 0 2rem;
  }
}

.col {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 1rem;
  height: 20px;

  @media (min-width: 60rem) {
    height: 22px;
  }

  svg {
    height: 100%;
    width: auto;
  }
}

.navigation {
  display: none;
  margin-right: 2rem;
  font-family: 'fira-sans', sans-serif;

  @media (min-width: 60rem) {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 1.5rem;
  }

  a {
    color: var(--black-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 700;
    transition: 0.15s ease;

    &:hover {
      color: var(--primary-color);
    }
  }
}