.hero {
  padding: 4rem 0 5rem;
  
  @media (min-width: 40rem) {
    padding: 7rem 0 8rem;
  }
}

.inner {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: self-end;  
  
  @media (min-width: 40rem) {
    padding: 0 2rem;
  }

  @media (min-width: 50rem) {
    grid-column-gap: 5%;
    grid-template-columns: 45% 50%;
  }

  @media (min-width: 75rem) {
    grid-column-gap: 10%;
    grid-template-columns: 40% 50%;
  }
}

.caption {
  order: 2;

  @media (min-width: 50rem) {
    order: 1;
  }
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;

  @media (min-width: 60rem) {
    font-size: 1.1rem;
  }
}

.title {
  line-height: 1.1;
  font-size: 2.2rem;
  margin: 0 0 1rem;

  @media (min-width: 60rem) {
    font-size: 2.7rem;
  }

  @media (min-width: 75rem) {
    font-size: 3.6rem;
  }
}

.description {
  color: var(--text-color);
  font-size: 1rem;
  margin: 0 0 1rem;  
  
  @media (min-width: 50rem) {
    font-size: 1.2rem;
  }
}

.image {
  max-width: 560px;
  width: 100%;
  order: 1;
  margin: 0 auto 2rem;

  @media (min-width: 50rem) {
    order: 2;
    margin: 0 auto;
  }
}

.simplepay-logo {
  height: 50px;
  width: auto;
}