.open-source {
  background-image: url('/open-source-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: #fff;
  padding: 6rem 0;    
}

.inner {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: center;  
  
  @media (min-width: 40rem) {
    padding: 0 2rem;
  }
}

.title {
  font-size: 1.6rem;
  margin: 0 0 1rem;

  @media (min-width: 60rem) {
    font-size: 2.4rem;
  }
}

.description {
  font-size: 1rem;
  margin: 0;

  @media (min-width: 60rem) {
    font-size: 1.2rem;
  }
}